<section class="register-body h-50">
    <div class="container-fluid d-flex justify-content-center h-100">
        <div class="d-flex flex-column px-0 h-100">
            <form class="container-fluid d-flex h-75 flex-column justify-content-around">
                <input class="p-2" type="email" name="email" id="email" placeholder="Email">
                <input class="p-2" type="password" name="password" id="password" placeholder="Password">
                <input class="p-2" type="photo" name="photo" id="photo" placeholder="Photo URL">
            </form>
            <a id="addUser" class="align-self-center btn btn-primary" style="width: 35%;">Register</a>
        </div>
    </div>
</section>
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
    integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
    crossorigin="anonymous"></script>
<script src="./scripts/register.js"></script>